@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;1,200&display=swap');

@layer components {
  .bg-primary {
    @apply bg-[#DE8443];
  }
  .border-primary {
    @apply border-[#DE8443];
  }
  .text-primary {
    @apply text-[#DE8443];
  }
  .text-secondary {
    @apply text-[#ee8446];
  }
}
